.editorForm{
    padding: 10px;
    background-color: #fff;
    border-radius:6px ;
    box-shadow: 1px 1px 5px #adadad;
    display: flex;
    flex-direction: column;
    gap:10px;

    label{
        display: block;


        span{
            font-weight: 500;
            font-size: 0.8rem;
            margin-bottom: 5px;
        }


        input[type="text"],textarea{
            width: 100%;
            padding: 5px;
            border:1px solid #d6d6d6;
            border-radius: 3px;
            background-color: #F0F0EF;
            resize: vertical;

            &:focus{
                outline: 1px solid #cccccc;
            }
        }
    }


    input[type="submit"]{
        width: 100%;
        padding: 5px;
        background-color: #005c9d;
        color:#fff;
        border:none;
        border-radius: 5px;

        &:hover{
            background-color: #045188;
        }
    }
}