.cardHolder{
    display: flex;
    gap:10px;
}

.campaignCard{
    padding: 15px;
    background-color: #fff;
    border:1px solid #d1cece;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: all 0.5s;

    .title{
        font-size: 0.92rem;
    }

    .server{
        font-size: 0.7rem;
        color: #838181;
        font-weight: 500;
    }
    &:hover{
       
    }
}