.cardHolder{
    display: flex;
    gap:10px;
}

.campaignCard{
    padding: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 5px #6b6b6b;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: all 0.5s;

    &:hover{
        background-color: aquamarine;
    }
}