/* .steps{
    .tabs{
        display: flex;
        justify-content: center;

        label{
            ::before{
                content: "";
                display: block;
                width: 50px;
                height: 50px;
                background-color: aqua;
            }
        }

        label:has(input[type="radio"]:checked){
            color:red;
        }
        input[type="radio"]{
          appearance: none;
        }
    }
} */



.wizard-progress {
    display: table;
    width: 100%;
    table-layout: fixed;
    position: relative;






    .step {
        display: table-cell;
        text-align: center;
        vertical-align: top;
        overflow: visible;
        position: relative;
        font-size: 12px;
        color: rgb(39, 39, 39);
        font-weight: normal;






        background-color: transparent;
        color: #fff;


        label {
            cursor: pointer;
            display: inline-flex;

            gap: 3px;
            background-color: #2d3436;
            padding: 6px;
            align-content: center;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            background-color: #2d3436;
            padding:6px 12px;

            .node {
                display: inline-block;

                border-radius: 18px;
                height: 14px;
                width: 14px;
                margin-right: 5px;

            }
        }

        input[type="radio"] {
            appearance: none;
            height: 1px;
            width: 1px;
            display: none;
        }

        &.disabled {

            label {
                cursor: not-allowed;
                background-color: #b2bec3;
            }

            .node {


                &:before {
                    content: "🔒";
                    color: #fff;
                    display: block;

                }
            }


        }

        &:not(:last-child):before {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: 15px;
            background-color: #b2bec3;
            height: 2px;
            width: 100%;
            z-index: -99;


        }

        &.complete {
            label {
                background-color: #273c75;
            }

            .node {

                &:before {
                    content: "✅";
                    color: #fff;
                    display: block;

                }
            }
        }

        &.in-progress {
            label {
                background-color: #0984e3;
            }

            .node {
                border-color: rgb(39, 153, 168);

                &:before {
                    content: "⏳";
                    color: #fff;
                    display: block;

                }
            }

        }


        
    }
}