.editorForm{
    padding: 10px;
    background-color: #fff;
    border-radius:0px;
    border: 1px solid #dfe6e9;
    display: flex;
    flex-direction: column;
    

    label{
        display: block;
    }

    .field-holder{
        margin-bottom: 8px;
    }

    .field{
        display: flex;
    }

    .pencil-button{
        width: 25px;
        cursor: pointer;
    }

        span{
            font-weight: 500;
            font-size: 0.8rem;
            margin-bottom: 5px;
        }


        input[type="text"],
        textarea{
            width: 100%;
            padding: 5px;
            border:1px solid #d6d6d6;
            
            background-color: #F0F0EF;
            resize: vertical;

            &:focus{
                outline: 1px solid #cccccc;
            }
        }
   


    input[type="submit"],button{
        width: 100%;
        padding: 5px;
        background-color: #005c9d;
        color:#fff;
        border:none;
        

        &:hover{
            background-color: #045188;
        }
    }
}