
form{
    background-color: transparent;
}

.section{
    background-color: white;
    margin: 0%  ;
    margin-top: 1%;
    margin-bottom: 2%;
    border: 1px solid #bebebe;
    border-radius: 4px;
     

    .title{
        background-color: #dfe6e9;
        border-bottom: 1px solid #bebebe;
        color:#2d3436;
        font-size: 16px;
        font-weight: bold;
        padding:8px 10px;
    }

    .content{
        padding:8px 10px;
    }
}

.form-group{


    width: 100%;

    margin-bottom: 10px;

    label{


        display: inline-block;

        font-size: 14px;
        font-weight: bold;
        
        color:#1e2127;
        margin-bottom:5px;
    }

    .input-holder{
        display: flex;
        position: relative;

        .error-icon{
            display: flex;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%) translateX(-125%);
            height: 13px;
            width: 13px;
            background-color: red;
            border-radius: 30px;
            color: #fff;
            justify-content: center;
            align-items: center;
            font-size: 9px;
        }
    }

    input[type="text"],input[type="number"],input[type="email"] , select{

        display: block;
        padding: 6px 6px;
        border-radius: 1px;
        border:1px solid rgba(97, 95, 95, 0.39);
        width: 100%;
        box-shadow: inset 0px 0px 1px #c5c5c5b8;
        color:#19043f;
        &:focus{
            outline:1px solid rgb(80, 145, 219);
            box-shadow: 0px 0px 5px #485f91;
        }
    }

    input:read-only{
        background-color: #dcdde1;
    }

    span.error{
        color:red;
        font-size: 12px;
    }

    .help-text{
        font-size: 13px;
        color:#383838;
    }


    





    .drop-zone{

    }

    .btn{
        
    }

    .btn-primary{
        padding: 10px;
        color:#fff;
        color: #4f7cdb;
        border:1px solid #385cac;
    }
    .btn-secondary{
        padding: 10px;
        color:#fff;
        color: #1e418d;
        border:1px solid #385cac;
    }

}



.checkbox{
    appearance: none;
    height: 0px;width: 0px;
    position: relative;

    + label{
        position: relative;
        display: inline;
        
        padding: 10px;
        padding-left: 20px;
        border-radius: 5px;
         color:#0a0a0a;
        cursor: pointer;

    }

    + label:before{
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        left:0px;
        height: 16px;
        width: 16px;
        background-color: #ecf0f1;
        border:1px solid #2c3e50;
        border-radius: 0px;
    }

    &:checked + label{
       
      font-weight: bold;
      color: #19043f;
    }

    &:checked +  label:before{ background-color: #3498db; }
    &:checked + label:after{
        content: '✓';
        display: block;
        position: absolute;
        top: 9px;
        left: 4px;
        height: 12px;
        width: 12px;
        font-weight: bold;
        color: #ffffff;
        /* background-color: #3498db; */
        border-radius: 0px;
    }

}

.radio-group{
    display: flex;
    flex-direction: row;
    gap:5px;

    .radio-button{
        appearance: none;
        height: 0px;width: 0px;
        position: relative;

        + label{
            position: relative;
            display: inline;
            
            padding: 10px;
            padding-left: 20px;
            border-radius: 5px;
             color:#0a0a0a;
            cursor: pointer;
    
        }

        + label:before{
            content: '';
            display: block;
            position: absolute;
            top: 10px;
            left:0px;
            height: 16px;
            width: 16px;
            background-color: #ecf0f1;
            border:1px solid #2c3e50;
            border-radius: 18px;
        }

        &:checked + label{
           
          font-weight: bold;
          color: #19043f;
        }

        &:checked + label:after{
            content: '';
            display: block;
            position: absolute;
            top: 13px;
            left: 3px;
            height: 12px;
            width: 12px;
            background-color: #3498db;
            border-radius: 18px;
        }

    }
}

.file-preview{
    width: 150px;
    height: 150px;
    background-color: #ededed;
    border-radius: 6px;
    img{ 
        width: 150px;
        height: 150px;
        object-fit: contain;
        background-size: cover;
    }
}

.drop-zone{
    padding: 20px;
    border:2px dashed rgb(98, 144, 187);
    background-color: rgb(202, 228, 247);
    font-size: 13px;
    text-align: center;
    cursor: pointer;

    .selected-file-name{
      font-weight: bold;  
      color: #47bb47;
    }
}












/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 8px;
    font-size: 13px;
    border: none;
     user-select: none;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content > * {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #fff;
    border:none;
    width:100%;

  }
  /* Change color of dropdown links on hover */
  .dropdown-content > *:hover {background-color: #ddd;}
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}






  /* Uploaded File List */
  .uploadedFileList {

        list-style: none;
        display: flex;
        flex-direction: column;
        gap:5px;
        li{
        background-color: #fff;

        padding: 5px;
        border:1px solid #b6b6b6;
        border-radius: 5px;
        font-size: 12px;
        align-self: flex-start;

            a{
                text-decoration: none;
            }
        }
  }



  .speaker-holder{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding:8px 0px;
  }
  .speaker{
    display: flex;
    width: 100%;
    border:1px solid #858585;
    border-radius: 4px;
    padding: 5px 5px;


    img{
        display: block;
        width:60px;
        height:60px;
        object-fit: contain;
    }

    .details{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0px 10px;
        font-size: 14px;

        .speaker-name{
            font-weight: bold;
            color:rgb(38, 63, 100);
        }
        .speaker-details{
            font-weight: normal;
        }
    }

    .edit{
        margin-bottom:auto;
    }
    .delete{
        margin-bottom: auto;
    }
  }

