
form{
    background-color: transparent;
}

.section{
    background-color: white;
    margin: 0%  ;
    margin-top: 1%;
    margin-bottom: 2%;

    .title{
        background-color: #666;
        color:#fff;
        padding:0.2% 1.5%;
    }

    .content{
        padding:1% 1.5%;
    }
}

.form-group{


    width: 100%;
    margin-top:10px;
    margin-bottom: 10px;

    label{


        display: inline-block;

        font-size: 14px;
        font-weight: normal;
        color:rgb(19, 12, 12);
        padding-bottom:6px;
    }

    .input-holder{
        position: relative;

        .error-icon{
            display: flex;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%) translateX(-125%);
            height: 13px;
            width: 13px;
            background-color: red;
            border-radius: 30px;
            color: #fff;
            justify-content: center;
            align-items: center;
            font-size: 9px;
        }
    }

    input[type="text"] , select{

        display: block;
        padding: 6px 6px;
        border-radius: 4px;
        border:1px solid rgba(97, 95, 95, 0.39);
        width: 100%;
        box-shadow: inset 0px 0px 2px #c5c5c5b8;
        color:#19043f;
        &:focus{
            outline:1px solid rgb(80, 145, 219);
            box-shadow: 0px 0px 5px #485f91;
        }
    }

    span.error{
        color:red;
        font-size: 12px;
    }


    





    .drop-zone{

    }

    .btn-primary{
        padding: 10px;
        color:#fff;
        color: #4f7cdb;
        border:1px solid #385cac;
    }

}


.radio-group{
    display: flex;
    flex-direction: row;
    gap:5px;

    .radio-button{
        appearance: none;
        height: 0px;width: 0px;
        position: relative;

        + label{
            position: relative;
            display: inline;
            
            padding: 10px;
            padding-left: 20px;
            border-radius: 5px;
             color:#0a0a0a;
            cursor: pointer;
    
        }

        + label:before{
            content: '';
            display: block;
            position: absolute;
            top: 10px;
            left:0px;
            height: 16px;
            width: 16px;
            background-color: #888888;
            border:1px solid #818181;
            border-radius: 18px;
        }

        &:checked + label{
           
          font-weight: bold;
          color: #19043f;
        }

        &:checked + label:after{
            content: '';
            display: block;
            position: absolute;
            top: 13px;
            left: 3px;
            height: 12px;
            width: 12px;
            background-color: #274b74;
            border-radius: 18px;
        }

    }
}

.file-preview{
    
    img{ width: 150px; }
}

.drop-zone{
    padding: 20px;
    border:2px dashed rgb(98, 144, 187);
    background-color: rgb(202, 228, 247);
    font-size: 13px;
    text-align: center;
    cursor: pointer;

    .selected-file-name{
      font-weight: bold;  
      color: #47bb47;
    }
}