
.form-group{


    label{
        font-size: 13px;
        font-weight: bold;
        color:rgb(51, 49, 49);
        padding-bottom:5px;
    }

    .input-holder{
        position: relative;

        .error-icon{
            display: flex;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%) translateX(-125%);
            height: 13px;
            width: 13px;
            background-color: red;
            border-radius: 30px;
            color: #fff;
            justify-content: center;
            align-items: center;
            font-size: 9px;
        }
    }

    input[type="text"] , select{

        display: block;
        padding: 5px 4px;
        border-radius: 4px;
        border:1px solid rgba(97, 95, 95, 0.39);
        width: 100%;
        box-shadow: inset 0px 0px 4px #c5c5c5b8;

        &:focus{
            outline:1px solid rgb(80, 145, 219);
            box-shadow: 0px 0px 10px #4f7cdb;
        }
    }

    span.error{
        color:red;
        font-size: 12px;
    }


    





    .drop-zone{

    }

    .btn-primary{
        padding: 10px;
        color:#fff;
        color: #4f7cdb;
        border:1px solid #385cac;
    }

}

.file-preview{
    
    img{
        width: 150px;
        
    }
}

.drop-zone{
    padding: 20px;
    border:2px dashed rgb(98, 144, 187);
    background-color: rgb(202, 228, 247);
    font-size: 13px;
    text-align: center;
    cursor: pointer;

    .selected-file-name{
      font-weight: bold;  
      color: #47bb47;
    }
}