.sideBar{
    flex-basis: 20%;
    border-right: 1px solid rgb(229, 234, 239);
    display: flex;
    flex-direction: column;
    min-height:100vh;
    
    &.collapsed{
        flex: 0;
    }

    .logo{
        width: 180px;
        
    }

    .menu{
        flex:1;
        padding: 20px;
        overflow: auto;
    }

    

            .menu::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(122, 122, 122, 0.1);
            background-color: #fffdfd;
            border-radius: 10px;
        }

        .menu::-webkit-scrollbar
        {
            width: 2px;
            background-color: #F5F5F5;
        }

        .menu::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            background-color: #FFF;
            background-image: -webkit-linear-gradient(top,
                                                    #b6d7e6 0%,
                                                    #bfe8f9 50%,
                                                    );
        }

    .logout{
        display: flex;
        background-color: red;
    }
}






 