.sideBar{
    flex-basis: 16%;
    border-right: 1px solid rgb(229, 234, 239);
    display: flex;
    flex-direction: column;
    min-height:100vh;
    background-color: #fff;
    transition: all 0.5s;
    max-height: 100vh;
    
    &.collapsed{
        flex: 0;
        width: 0px;
        overflow: hidden;
    }

    .logo{
        width: 100%;
        border-bottom: 1px solid #dadada;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        img{
            max-width: 70%;
        }
        
    }

    .menu{
        flex:1;
       overflow-y: scroll;
       
    }

    

            .menu::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(122, 122, 122, 0.1);
            background-color: #fffdfd;
            border-radius: 10px;
        }

        .menu::-webkit-scrollbar
        {
            width: 1px;
            background-color: #F5F5F5;
        }

        .menu::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            background-color: #FFF;
            background-image: -webkit-linear-gradient(top,
                                                    #88888894 0%,
                                                    #a08f9291 50%,
                                                    );
        }

    .logout{
        display: flex;
        padding: 10px;
        background-color: #b42525;
        color:#fff;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        transition: background-color 0.25s ease-in;

        &:hover{
            background-color: #680808;
            
        }
    }
}






 