.dropdown{
    position: relative;

    .menu{
        position: absolute;
        right: 0;
        min-width: 150px;
        max-width: 300px;
        display: block;
        transition: all 0.22s ease-in;
        overflow: visible;
        padding: 10px;
        background-color: #fff;
        border:1px solid #969494;
        z-index: 100;

        &::after{
            content: "\00a0";
            display: block;
            background-color: #fff;
            position: absolute;
            top: -11px;
            right:5px;
            height: 20px;
            width:  20px;
            transform: rotate( 45deg );
            border-top:1px solid #969494;
            border-left:1px solid #969494;
            // box-shadow: -2px -2px 3px 0 rgba(178, 178, 178, 0.4);
        }

        &.collapsed{
           // display: none;
           visibility: none;
           opacity: 0;
           transform: translateY(-20%);
        }


      


    }

    
    
   
    


}