.Editor {
    max-width: 1200px;
    margin: 0 auto;

    .grid-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .holder {
        background-color: #fff;
        padding: 20px;
        width: 80%;
        margin: auto;
    }
.rsw-dd{
    border: 0px;
}

    label {
        display: block;
        margin: 10px 0px;

        span {
            display: block;
            margin-bottom: 5px;
        }
    }


    input[type="text"],
    select,
    textarea {
        font-size: 15px;
        width: 100%;
        padding: 5px;
        outline: none;
        border-radius: 3px;
        border: 1px solid #e6e6e6;
        border: 0px;
        border-bottom: 1px solid #5a93f6;
        color: #474747;
        &:focus {
            outline: 0px solid rgb(71, 95, 175);
        }
    }


    input[type="submit"] {
        padding: 5px;
    }


}

.holder>label>input[type="text"]{
    background: #E8F0FE;
}
#contentContainer {
    display: flex;
    justify-Content:space-between;
    flex-direction: column;
    width: 80%;
    margin: auto;
    gap:10px;

    .contentContainerInner{
        padding: 10px;
        background-color: white;
        margin-bottom: 20px;

        h4{
            background: rgb(214, 214, 214);
            padding: 5px 10px;
            margin: -10px -10px 0px -10px;
        }
    }
}

.uploaderOuter{
    margin: auto;
    width: 70%;
    max-width: 1100px;
}
.uploadListDiv{
    width: 100%;
    background: white;
    padding: 5px;
    padding-top: 0px;
    h4{
        background: rgb(214, 214, 214);
        padding: 5px 10px;
        margin: 10px -5px 10px -5px;
    }
}

.fileToUpload{
    border-bottom: 1px solid #5a93f6;
    margin: 0px !important;
}

#uploadFilesBtn{
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 6px 15px;
    border: 1px solid #5a93f6;
    background: #5a93f6;
    color: white;
    cursor: pointer;
}
#downloadZipBtn{
    padding: 6px 15px;
    border: 1px solid #5a93f6;
    color: #5a93f6;
    background: white;
    margin-left: 10px;
    cursor: pointer;
}

.linksTableAfterUpload{
    width: 100%;
    // margin-left: -23%;
    max-width: 1100px;
    background: white;
    padding: 10px;
    padding-top: 0px;
    margin-top: 30px;

    h4{
        background: rgb(214, 214, 214);
        padding: 5px 10px;
        margin: 10px -10px 10px -10px;
    }
}

.linksTableAfterUpload>table{
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

