.formBuilder{
    display: flex;
    width: 100%;
    
  


    .fieldEditor{
        flex: 1;

        .fieldEditorHolder{
            position: sticky;
       
            position: -webkit-sticky;
            top: 65px; /* required */
        }
     

        .editorFallback{
          
            width: 100%;
            padding: 10px;
            background-color: #c8d6e5;
        }

    }

 
}
#AddFieldSelectBox{
    width: 60%;
    border: 1px solid #5a93f6;
    margin-bottom: 30px;
    border-radius: 0px;
}
#addBtn{
    padding: 6.2px 15px;
    border: 1px solid #5a93f6;
    padding-top: 7.7px;
    background: #5a93f6;
    color: white;
}
#loadFieldsBtn{
    padding: 4px 10px;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(200, 214, 229);
    margin: 5px;
}
#recalculateBtn{
    padding: 4px 10px;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(200, 214, 229);
    margin: 5px;
}
.previewBtns{
    padding: 4px 10px;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(200, 214, 229);
    margin: 5px;


    &.active{
        background-color: rgb(78, 123, 172);
        color:#fff;
    }
}
.greenBtn{
    padding: 6px 10px;
    margin: 20px 10px 10px 0px;
    background-color: transparent;
    color: #21702b;
    border: 1px solid #21702b;
}
.fileToUpload{
    display: flex;
    gap:10px;
    border:1px solid #333;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 2px;
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 13px;
    color:#1b0930;
}