.fieldList{
    width: 100%;
    flex:2;
    display: flex;
    flex-direction: column;
    gap:10px;
    
    .field{
        display: flex;
        flex-direction: column;
        background-color: #ededed;
        padding: 5px;
        user-select: none;
        cursor: pointer;

        .fieldType{
            font-size: 12px;
        }

        .fieldLabel{
            font-size: 14px;
            font-weight: 600;
        }

    }
}