.formBuilder{
    display: flex;
    width: 100%;
    
  


    .fieldEditor{
        flex: 1;
    }

 
}
#AddFieldSelectBox{
    width: 65%;
    margin-bottom: 30px;
}
#addBtn{
    padding: 5px 15px;
    margin-left: 10px;
}