.formBuilder{
    display: flex;
    width: 100%;
    
  


    .fieldEditor{
        flex: 1;
    }

 
}
#AddFieldSelectBox{
    width: 60%;
    border: 1px solid #5a93f6;
    margin-bottom: 30px;
    border-radius: 0px;
}
#addBtn{
    padding: 6.2px 15px;
    border: 1px solid #5a93f6;
    padding-top: 7.7px;
    background: #5a93f6;
    color: white;
}
