@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Noto Sans", sans-serif; */
    font-family: "Arial", sans-serif; 
    font-optical-sizing: auto;
 
}


html ,body{
    width: 100%;
	height: 100%;
    background-color: #edf2f9;

}


.btn--primary{
    padding: 5px 6px;
    background-color: #337ab7;
    color:#fff;
    border:1px solid #2e6da4;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
        background-color: #286090;
        border-color: #204d74;
    }
}



