@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Noto Sans", sans-serif; */
    font-family: "Arial", sans-serif; 
    font-optical-sizing: auto;
 
}


html ,body{
    width: 100%;
	height: 100%;
    background-color: #edf2f9;

}



