

*{
    box-sizing: border-box;
}




body{
    margin:0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #e7eef7;
}


/* Works on Firefox */


/* Form Start */



/* Form End */